*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: black;
}
.header__logo{
    height: 50px;
    max-width: 145px;
    padding: 4px;
}
.footer{
    background-color: black;
    color: white;
}

@media screen and (max-width: 1024px){
    h1 {
        font-size: 1.2rem;
    }
}
